.App {
  text-align: left;
  padding: 20px;
}

.App-logo {
  height: 30vmin;
  pointer-events: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #20232a;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(12px + 2vmin);
  color: #61dafb;
  margin: 0;
  padding: 20px;
}

.App-link {
  color: #09d3ac;
  font-weight: bold;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
